/* App Style */
.App {
  text-align: center;
  width: 100%;
  height: 100%;

}


.App-title{
  color: white;
  padding: 15px;
  margin: 0;

}

.App-header{
  color: white;
  background-color: #0396A6;

}

/* Map Style */
.mapError-container{
  padding: 10px;
  font-size: 20px;
}

.map-container{
    width: 100%;
    height: 900px;
}

/* Location list Style */
.LocationList-container{
  background-color:white;
  width: 16%;
  height: 900px;
  left: 0px;
  top: 78px;
  position: absolute;
}

.locationList{
   padding: 10px 15px;
   list-style-type: circle;
   display: block;
   flex-wrap: wrap;
   text-align: left;
}

.locationList li{
   font-size: 18px;
   padding: 10px 15px;
}

.locationList li:hover{
  background: #19A6FF;
  cursor: pointer;
}



input {
 width:89%;
 border: none;
 border: 2px solid gray;
 position: relative;
 padding: 15px 10px;
 font-size: 1.25em;
 outline: none;
}

@media screen and (max-width:300px){

  .locationList li{a
     font-size: 20px;
  }

  .ListView-container{
  top: 100px;
  }


}

@media screen and (max-width:550px){
  .ListView-container{
    width: 30%;
  }
}


@media screen and (max-width:1200px){

  input {
   width:80%;
 }



}
